<header class="masthead"> <!-- DONE-->
  <div class="d-flex justify-content-center">
    <h1 class="text-uppercase text-white">Vårt Team</h1>
  </div>
</header>
<section class="about-section">
</section>
<section class="team-section bg-dark">
  <div class="row justify-content-center text-white">
    <div class='card bg-dark' id= '1'>
      <%= image_tag "Ullis2.jpg" %>
      <div class="container text-center">
        <h4><b>Ulrika Fransson</b></h4>
        <h5>CEO/Sales</h5>
        <hr>
        <p>ulrika@arqitrade.com</p>
      </div>
      <hr>
      <p></p>
      <div class='container'>
        <div class="text-center">
          <a><%= image_tag "Swedish.png" %></a>
          <a>Swedish</a>
          <a> <%= image_tag "english.png" %></a>
          <a> English</a>
          <p></p>
          <a><%= image_tag "Portuguese.png" %></a>
          <a>Portuguese</a>
          <a><%= image_tag "German.png" %></a>
          <a>German</a>
        </div>
        <hr>
      </div>
    </div>
    <div class='card bg-dark' id= '2'>
      <%= image_tag "Roland.jpg"%>
      <div class="container text-center">
        <h4><b>Roland Carmanns</b></h4>
        <h5>KAM DACH</h5>
        <hr>
        <p>roland@arqitrade.com</p>
      </div>
      <hr>
      <p></p>
      <div class='container'>
        <div class="text-center">
          <a><%= image_tag "German.png" %></a>
          <a>German</a>
          <a> <%= image_tag "english.png" %></a>
          <a> English</a>
          <p></p>
          <a><%= image_tag "Swedish.png" %></a>
          <a>Swedish</a>
          <p></p>
        </div>
        <hr>
      </div>
    </div>
    <div class='card bg-dark' id= '3'>
      <%= image_tag "Matz.jpg"%>
      <div class="container text-center">
        <h4><b>Matz Magnussson</b></h4>
        <h5>Branding Expert</h5>
        <hr>
        <p>matz@arqitrade.com</p>
      </div>
      <hr>
      <p></p>
      <div class='container'>
        <div class="text-center">
          <a><%= image_tag "Swedish.png" %></a>
          <a>Swedish</a>
          <a> <%= image_tag "english.png" %></a>
          <a> English</a>
        </div>
        <hr>
      </div>
    </div>
    <div class='card bg-dark' id= '4'>
      <%= image_tag "william.jpg"%>
      <div class="container text-center">
        <h4><b>William Fransson</b></h4>
        <h6>CIO</h6>
        <hr>
        <p>william@arqitrade.com</p>
      </div>
      <hr>
      <p></p>
      <div class='container'>
        <div class="text-center">
          <a><%= image_tag "Portuguese.png" %></a>
          <a>Portuguese</a>
          <a><%= image_tag "Swedish.png" %></a>
          <a>Swedish</a>
          <p></p>
          <a> <%= image_tag "english.png" %></a>
          <a> English</a>
          <a><%= image_tag "Spanish.png" %></a>
          <a>Spanish</a>
        </div>
        <hr>
      </div>
    </div>
  </div>
<section class="about-section">
</section>

