<%= form_with(model: kontakt) do |form| %>
  <% if kontakt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kontakt.errors.count, "error") %> prohibited this kontakt from being saved:</h2>
      <ul>
        <% kontakt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :förnamn%>
    <%= form.text_field :förnamn, class: "form-control", placeholder: "Ex. Johan"%>
  </div>
  <div class="field form-group">
    <%= form.label :efternamn %>
    <%= form.text_field :efternamn, class: "form-control", placeholder: "Ex. Svensson" %>
  </div>
  <div class="field form-group">
    <%= form.label :title%>
    <%= form.text_field :title, class: "form-control", placeholder: "EXempel : HR Chef"%>
  </div>
  <div class="field form-group">
    <%= form.label :mobilnummer%>
    <%= form.text_field :mobilnummer, class: "form-control", placeholder: "Ex: 0700338866"%>
  </div>
  <div class="field form-group">
    <%= form.label :email%>
    <%= form.text_field :email, class: "form-control", placeholder: "exempel@email.com" %>
  </div>
  <div class="field form-group">
    <%= form.number_field :user_id,
    id: :kontakt_user_id, class: "form-control", value: current_user.id, type: :hidden%>
  </div>
  <div>
  </br>
  <%= form.submit class: "btn btn-dark btn-secondary btn-hover"%>
</div>
<% end %>
