<%= form_with(model: kontakt) do |form| %>
  <% if kontakt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kontakt.errors.count, "error") %> prohibited this kontakt from being saved:</h2>

      <ul>
        <% kontakt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :förnamn, style: "display: block" %>
    <%= form.text_field :förnamn %>
  </div>

  <div>
    <%= form.label :efternamn, style: "display: block" %>
    <%= form.text_field :efternamn %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :mobilnummer, style: "display: block" %>
    <%= form.text_field :mobilnummer %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
  </br>
    <%= form.submit class: "btn btn-dark btn-secondary btn-hover"%>
  </div>
<% end %>
