<div id="<%= dom_id kontakt %>">
  <tbody>
    <tr>
      <th scope="row"><%= kontakt.id %></th>
      <td><%= kontakt.förnamn %></td>
      <td><%= kontakt.efternamn %></td>
      <td> <%= kontakt.title %></td>
      <td> <%= kontakt.mobilnummer %></td>
      <td> <%= kontakt.email %></td>
      <% unless params["id"].present? %>
              <td> <%= link_to "Visa", kontakt %> </td>
      <% end %>

    </tr>
  </tbody>
</div>
