<div id="<%= dom_id kontakt %>">
  <table class="table" table-striped>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><%= kontakt.förnamn %></td>
        <td><%= kontakt.efternamn %></td>
        <td> <%= kontakt.title %></td>
        <td> <%= kontakt.mobilnummer %></td>
        <td> <%= kontakt.email %></td>
        <td> <%= link_to "Visa", kontakt %> </td>
      </tr>
    </tbody>
  </table>
</div>
